<% follow_state = "unfollowed" %>
<% if current_user.follows?(user) %>
  <% follow_state = "followed"%>
<% end %>

<button type="button" data-user-id="<%= user.id %>"
  data-initial-follow-state="<%= follow_state %>"
   class="follow-toggle" name="button" disabled="false"></button>
